* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(142, 88, 196);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(229, 209, 247);
    padding: 40px 60px;
}

.reset {
    padding:  15px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 12, 121);
    border: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: rgb(71, 0, 104);
    background-color: rgb(181, 134, 224);
}

.game {
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 3em;
    transform: rotateY(180deg);
    background-color: rgba(71, 0, 104);
    transition: 0.25s;
}

.item.cardOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(71, 0, 104);
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.cardOpen:after ,
.cardMatch:after
{
    transform: rotateY(180deg);
}

